body {
    text-align: center;
    background: linear-gradient(#ebd234 40%, #80d115 70%);
}

.line {
    width: 190px;
    height: 4px;
    background-color: black;
    margin: 2px auto;
}

#para {
    font-family: cursive;
    color: red;
    text-align: left;
    font-size: 20px;
}

#heading {
    font-family: italic;
    color: blue;
    font-weight: 1000;
}

#book {
    border-radius: 1000px;
}

#About {
    text-align: center;
}

.menu {
    list-style: none;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 9;
}

.links {
    float: right;
    padding-right: 20px;
    ;
}

.intro {
    z-index: 10;
}
